body {
  padding: 0;
  margin: 0;
}

.ODJ {
  display: flex; /* 横並び用 */
}

    .Torii:hover {
      background-image: url("img/torii.svg");
    }

.Jinjya:hover {
      background-image: url("img/jinnjya.svg");
    }

/* @keyframes zoom-in-anim {
  0% {
  transform: scale(1);
  }
  100% {
  transform: scale(2);
  }
}

.zoom-out {
  margin: 40px;
  width: 70px;
  height: 70px;
  background: #00E676;
}

.zoom-out:hover {
  animation: zoom-out-anim 1s;
}

@keyframes zoom-out-anim {
  0% {
  transform: scale(1);
  }
  100% {
  transform: scale(0);
  }
} */